__pycache__/
*.pyc
.pytest_cache/
venv/
env/
env.bak/
.env
*.sqlite3
node_modules/
dist/
build/
.DS_Store__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.db
.DS_Store